.view-task {
    margin-top: 3em;
}

.view-task, .task-data, aside, .more-data {
    background: var(--light-low);
    padding: var(--padding);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
}

.view-task p, .view-task h2{
    background: var(--light);
    padding: var(--padding);
    border-radius: var(--border-radius);
    text-transform: capitalize;
}

.task-data {
    background: var(--light);
    flex-direction: row;
}

.task-data-small {
    display: none;
    flex-direction: column;
    gap: .5em;
}

aside {
    background: var(--light-low);
    align-items: flex-start;   
}

.more-data {
    background: var(--light);
    margin-top: 1em;
}

@media screen and (max-width: 700px) {
    .task-data {
        display: none;
    }

    .task-data-small {
        display: flex;
    }
}