.about-page {
  width: 90%;
  min-height: 80vh;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.about-page article {
  margin: 1em 0 0;
}

.about-page h2 {
  font-size: var(--font-md);
}

.about-page p {
  margin: 0.5em 0;
  line-height: 1.3em;
}

.about-page div {
  display: flex;
  width: 100%;
}

.first-section,
.second-section {
  justify-content: space-between;
}

.text-div {
  flex-direction: column;
  width: 45%;
}

.img-div {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-div img {
  width: 100%;
  display: block;
  margin: 2em auto;
  border-radius: 100%;
}

article > div > img {
  width: 100%;
  display: block;
  margin: 2em auto;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.about-page button {
  margin: auto;
}

@media screen and (max-width: 700px) {
  .about-page article {
    justify-content: start;
  }

  .first-section,
  .second-section {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .text-div {
    max-width: none;
    width: 100%;
    text-align: start;
  }
}
