.login {
  background: var(--white);
  border-radius: 30% 30% 0 0;
  padding: 1em 7em;
  height: 100%;
  width: 120%;
  position: absolute;
  left: 50%;
  bottom: -92%;
  transform: translate(-50%, 0);
  overflow: hidden;
  transition: .5s ease;
}

.login h1,
.login p {
  color: black;
  text-shadow: var(--text-shadow) white;
}


input#check {
  display: none;
}

input#check:checked ~ .login {
  transform: translate(-50%, -90%);
}

@media screen and (max-width: 700px) {
  .login {
    border-radius: 20% 20% 0 0;
  }
}