.about-me {
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: none;
  min-height: 100vh;
}

.bio {
  flex-direction: column;
  max-width: 60%;
  justify-content: center;
  gap: var(--gap);
  align-items: flex-start;
  font-style: italic;
  gap: var(--gap-sm);
}

.bio h1 {
  font-size: var(--font-xlg);
}

.bio h2 {
  font-size: var(--font-lg);
}

.bio p {
  font-size: var(--font-md);
  margin: 10px 0;
}

.image div {
  display: flex;
  justify-content: center;
}

.image .img {
  border-radius: 100%;
  width: 80%;
  box-shadow: var(--shadow);
}

.bio button {
  width: 30% !important;
}

@media screen and (max-width: 1000px) {
  .image .img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .about-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bio {
    max-width: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .bio h1 {
    font-size: var(--font-lg);
  }

  .bio h2,
  .bio p {
    font-size: var(--font-md);
  }

  .bio .ocultable {
    display: none;
  }

  .bio button {
    margin: 1em 0 !important;
  }

  .image div {
    justify-content: center;
  }

  .image .img {
    width: 50%;
  }
}
