nav {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--gray);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

nav .normal-menu {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
}

nav .small-menu {
    display: none;
    color: white;
}

nav .small-menu input {
    display: none;
}

.sidebar {
    background: var(--gray);
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1em;
}

nav .small-menu input:checked ~ .sidebar {
    display: flex;
}


@media screen and (max-width: 700px) {
    nav .normal-menu {
        display: none;
    }

    nav .small-menu {
        display: block;
    }
}
