.projects {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap);
  text-align: center;
  min-height: 100vh;
}

.projects h1 {
  font-size: var(--font-md);
}

.projects button {
  width: 100%;
}
