.input-forms {
    width: 100%;
}

.input-forms label {
    width: 100%;
    padding: var(--padding);
    text-align: left;
}

.input-forms label > input {
    background: transparent;
    width: 80%;
    padding: var(--padding);
    border: none;
    outline: none;
    border-bottom: var(--border-bottom);
}