.display-data {
    padding: var(--padding);
    border: solid 2px var(--blue-5);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.display-data article {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 2em;
    padding: var(--padding);
    border-bottom: var(--border-bottom);
}

.display-data h2 {
    text-align: center;
    font-size: 1.5em;
}