.projects-page select {
  width: 50%;
  margin: auto;
  background: var(--background-color);
  color: var(--font-color);
  border-radius: var(--border-radius);
  padding: var(--padding-low);
  font-size: var(--font-sm);
}

.projects-page option {
  color: var(--font-color-footer-bellow) !important;
  background: var(--gray-1);
  border-radius: var(--border-radius);
  padding: var(--padding);
}

.projects-page option:checked {
  color: var(--gray-1) !important;
  background: var(--white);
}

.projects-page a {
  width: 75%;
}

.projects-page > button {
  width: 50%;
  margin: 1em auto;
}
