.navbar-lg,
.navbar-lg .brand,
.navbar-lg .links {
  display: flex;
  align-items: center;
}

.navbar-lg {
  background: var(--background-color);
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  overflow: hidden;
}

.navbar-lg .brand {
  justify-content: center;
  gap: var(--gap);
  padding: 0;
}

.brand i {
  font-size: var(--font-sm);
}

.navbar-lg .links {
  width: 60%;
  padding: 0;
  justify-content: space-around;
}

nav i {
  color: var(--font-color);
  padding: 0 1em;
}

select.dropdown {
  background: transparent;
  padding: 0 var(--padding);
  border: none;
  outline: none;
  color: var(--font-color);
  font-size: var(--font-sm);
}

select#menu {
  display: none;
}

.dropdown option {
  color: var(--font-color-footer-bellow) !important;
  background: var(--gray-1);
}

.dropdown option:checked {
  color: var(--gray-1) !important;
  background: var(--white);
}

@media screen and (max-width: 1000px) {
  .navbar-lg .links {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .navbar-lg {
    padding: 1.2em var(--padding);
    font-size: var(--font-sm);
    font-weight: 600;
  }

  .navbar-lg .links {
    display: none;
  }

  select.dropdown,
  select#menu {
    display: block;
  }
}
