form {
    max-width: 1200px;
}

form, form label {
    width: 100%;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    border: var(--border);
    border-radius: var(--border-radius);
}

form label {
    padding: 0;    
    align-items: flex-start;
    border: none;
}

label textarea {
    background: var(--white);
    width: 80%;
    height: 50%;
    resize: none;
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-size: var(--font-sm);
}

form .submit-input {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}